@import url('https://fonts.googleapis.com/css?family=Poppins');

.ellipse {
    width: 1177px;
    height: 1177px;
    border-radius: 1177px;
    background: #ffeede;
    position: absolute;
    top: -84%;
    right: -15%;
    z-index: 0;
}

  
.logo {
    color: #333;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-right: 15%;
    z-index: 1;
    margin-left: 15px;
}

.icon {
    display: inline-block;
    position: absolute;
    margin-left: 290px;
}

.price {
    color: #FF922C;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 19% 0 0 3.4%;
}

.nameMenu {
    color: #333;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-transform: capitalize;
}

.desc {
    color: #333;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 1.3%;
}

.content {
    position: relative;
    z-index: 3;
}

.textContainer {
    position: relative;
    z-index: 4;
    margin: 1% 0 0 3.4%;
}

.link {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 13.16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    transition: all 0.3s;
    margin: 10% 0 2% 3.4%;
    margin-left: 6.3%;

}

.link:hover {
    color: #FF922C;
    text-shadow: none;
    font-weight: 600;
}

.ellipse2 {
    width: 560px;
    height: 560px;
    flex-shrink: 0;
    border-radius: 560px;
    border: 2px dashed #E87F1E;
    z-index: 1;
    position: absolute;
    top: 33%;
    right: 7%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 380%, 380% 19%, 0% 39%);
}

.iconContainer {
    display: flex;
    justify-content: center;
}

.iconList {
    list-style: none;
    display: flex;
    gap: 20px;
}

.icon1, .icon2 {
    position: absolute;
    transition: transform 0.3s;
    z-index: 3;
}

.icon1 {
    top: 75%;
    right: 47%;
}

.icon2 {
    top: 75%;
    right: 4.6%;
}

.icon1:hover, .icon2:hover {
    transform: scale(1.2);
}

.image1, .image2, .image3,
.image4, .image5, .image6 {
    z-index: 1;
    right: 10%;
    position: absolute;
    transition: transform 0.3s;
    background-color: transparent;
    border-radius: 90%;
}

.image1:hover, .image2:hover, .image3:hover,
.image4:hover, .image5:hover, .image6:hover {
    transform: scale(1.2) rotate(-95.65deg);
    border-radius: 50%;
}

.image1 {
    top: 50%;
    right: 46%;
}

.image2{
    top: 49%;
    right: 5%;
}

.image3 {
    top: 34%;
    right: 38%;
}

.image4{
    top: 28%;
    right: 26%;
}

.image5{
    top: 32.5%;
    right: 12%;
}

.image6{
    top: 47%;
    right: 18.4%;
}